%h1= t('.account_details')
= @user.email
%br
%br
= link_to t('.edit'), edit_user_path(@user)
|
= link_to t('.delete'), user_path(@user), data: { confirm: t('.confirm_delete') }, :method => :delete
|
=link_to t('.back'), users_path
